{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Agents{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/agent.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="field">
      <h1>Agent Management</h1>
      <p class="description">Manage Agent information</p>
    </div>
    <div class="buttons">
      <button id="addAgentBtn">
        <i class="btn-icn fa-solid fa-plus"></i>
        Add Agent
      </button>

      <button class="delete" id="deleteAgentBtn">
        <i class="fa-solid fa-trash"></i>
        Delete Agent
      </button>
    </div>
  </div>

  <table>
    <thead>            
      <tr>
        <th>Agent ID</th>
        <th>Agent Name</th>
        <th>Phone number</th>
        <th>Hiring Date</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <!-- Agents will be rendered here -->
    </tbody>
  </table>
</div>

<div id="addAgentModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Add Agent</h2>

    <form id="addAgentForm">
      <input familyName="agent_name" placeholder="Agent family name" required>
      <input FirstName="agent_prenom" placeholder="Agent first name" required>
      <input type="number" number="Phone_number" placeholder="Agent Phone Number" required>
      <input type="date" HiringDate="Hiring_date" placeholder="Hiring Date" required>
      
      <select name="type" required>
        <option value="">Type</option> 
        <option>Normal</option>
        <option>Admin</option>
      </select>

      <button type="submit">Save</button>
    </form>
  </div>
</div>

<div id="deleteAgentModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Delete Agent</h2>

    <form id="deleteAgentForm">
      <input name="Agent_id" placeholder="Agent ID" required>
      <button class="delete" type="submit">Delete</button>
    </form>
  </div>
</div>

{% block extra_js %}
<script src="{% static 'js/agents.js' %}"></script>
{% endblock %}

{% endblock %}