{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Packages{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/package.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="field">
      <h1>Package Management</h1>
      <p class="description">Manage package information</p>
    </div>
    <div class="buttons">
      <button id="addPackageBtn">
        <i class="btn-icn fa-solid fa-plus"></i>
        Add Package
      </button>

      <button class="delete" id="deletePackageBtn">
        <i class="fa-solid fa-trash"></i>
        Delete Package
      </button>
    </div>
  </div>

  <table>
    <thead>            
      <tr>
        <th>Package ID</th>
        <th>Client Name</th>
        <th>Type</th>
        <th>Number Of Pieces</th>
        <th>Weight</th>
        <th>Tracking Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- packages will be rendered here -->
    </tbody>
  </table>
</div>

<div id="addPackageModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Add Package</h2>

    <form id="addPackageForm">
      <input name="client_name" placeholder="Client name" required>

      <select name="type" required>
        <option value="">Type</option> 
        <option>Documents</option>
        <option>Electronics</option>
        <option>furniture</option>
      </select>

      <input name="pieces" type="number" placeholder="Number of pieces" required>
      <input name="weight" type="number" placeholder="Weight (kg)" required>

      <button type="submit">Save</button>
    </form>
  </div>
</div>

<div id="deletePackageModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Delete Package</h2>

    <form id="deletePackageForm">
      <input name="package_id" placeholder="Package ID" required>
      <button class="delete" type="submit">Delete</button>
    </form>
  </div>
</div>

{% block extra_js %}
<script src="{% static 'js/packages.js' %}"></script>
{% endblock %}

{% endblock %}